<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title> Checkout Failure </title>

  <link rel="stylesheet" href="css/styles.css">

</head>

<body>

	<p> Please retry ordering </p>

</body>
</html>